<% include partials/header.ejs%>

<h1>This is the home page!</h1>

<img src="https://images.unsplash.com/photo-1438029071396-1e831a7fa6d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c4cbf3a59ee8e5407c5c55e62ed97b8&auto=format&fit=crop&w=1592&q=80">

<% include partials/footer.ejs%>
